<div class="col-12">
  <div class="mx-auto my-5">
    <p-timeline [value]="horaireTravail" align="alternate" styleClass="customized-timeline">
      <ng-template pTemplate="marker" let-event>
        <span class="flex z-1 w-2rem h-2rem align-items-center justify-content-center text-white border-circle shadow-2"
          [style.backgroundColor]="event.color">
          <i [ngClass]="event.icon"></i>
        </span>
      </ng-template>
      <ng-template pTemplate="content" let-event>
        <p-card [header]="event.status" [subheader]="event.date">
        </p-card>
      </ng-template>
    </p-timeline>
  </div>
</div>

<div class="border-round border-1 surface-border p-4" *ngIf="skeleton">
  <div class="my-5">
    <p-skeleton width="100%" height="10rem"></p-skeleton>
  </div>
  <div class="my-5">
    <p-skeleton width="100%" height="10rem"></p-skeleton>
  </div>
  <div class="my-5">
    <p-skeleton width="100%" height="10rem"></p-skeleton>
  </div>
  <div class="my-5">
    <p-skeleton width="100%" height="10rem"></p-skeleton>
  </div>
  <div class="my-5">
    <p-skeleton width="100%" height="10rem"></p-skeleton>
  </div>
  <div class="my-5">
    <p-skeleton width="100%" height="10rem"></p-skeleton>
  </div>
  <div class="my-5">
    <p-skeleton width="100%" height="10rem"></p-skeleton>
  </div>
</div>