<div class="grid p-fluid">
  <div class="col-12 lg:col-6">
    <div class="card">
      <div *ngIf="!skeletonJour">
        <h5>Chiffre affaire par jour</h5>
        <p-chart type="line" [data]="barDataJour" [options]="barOptionsJour"></p-chart>
      </div>
      <div *ngIf="skeletonJour">
        <app-skeleton-statistique header="Chiffre affaire par jour"></app-skeleton-statistique>
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-6">
    <div class="card">
      <div *ngIf="!skeletonMois">
        <h5>Chiffre affaire par mois</h5>
        <p-chart type="bar" [data]="barDataMois" [options]="barOptionsJour"></p-chart>
      </div>
      <div *ngIf="skeletonMois">
        <app-skeleton-statistique header="Chiffre affaire par mois"></app-skeleton-statistique>
      </div>
    </div>
  </div>
</div>