<div class="grid">
  <div class="col-12">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="square-jelly-box" [fullScreen]="true">
      <p style="color: white"> Chargement... </p>
    </ngx-spinner>
    <div class="card">
      <h5>Row Expand</h5>
      <p-toast></p-toast>
      <p-table [value]="rendezVous" dataKey="Service" [expandedRowKeys]="expandedRows" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="Service">Service<p-sortIcon field="Service"></p-sortIcon></th>
            <th>Image</th>
            <th pSortableColumn="price">Prix<p-sortIcon field="price"></p-sortIcon></th>
            <th pSortableColumn="date">Date & Heur <p-sortIcon field="date"></p-sortIcon></th>
            <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
            <th pSortableColumn="category"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-expanded="expanded">
          <tr>
            <td style="min-width: 12rem;">{{product.Service.name}}</td>
            <td><img src="{{environments.url_image}}service/{{ product.Service.image[0].name }}" width="100"
                class="shadow-4" />
            </td>
            <td style="min-width: 8rem;">{{ product.Service.prix | currency:'MGA':'symbol-narrow':'1.0'}}</td>
            <td style="min-width: 10rem;">{{ product.dateTime | date:'dd/MM/yyyy HH:mm' }}</td>
            <td><span [class]="'product-badge status-lowstock'">{{ product.etat[0].name
                }}</span>
            </td>
            <td style=" min-width: 10rem;">
              <button pButton pRipple label="Valider" class="p-element p-ripple p-button-success p-button p-component"
                (click)="valider(product._id)"></button>
              <button pButton pRipple label="Refuser" class="p-element p-ripple p-button-danger p-button p-component"
                (click)="refuser(product._id)"></button>

            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr *ngIf="!skeleton">
            <td><p-skeleton width="100%" height="50px" class="mt-3"></p-skeleton></td>
            <td><p-skeleton width="100%" height="50px" class="mt-3"></p-skeleton></td>
            <td><p-skeleton width="100%" height="50px" class="mt-3"></p-skeleton></td>
            <td><p-skeleton width="100%" height="50px" class="mt-3"></p-skeleton></td>
            <td><p-skeleton width="100%" height="50px" class="mt-3"></p-skeleton></td>
          </tr>
          <tr *ngIf="!skeleton">
            <td><p-skeleton width="100%" height="50px" class="mt-3"></p-skeleton></td>
            <td><p-skeleton width="100%" height="50px" class="mt-3"></p-skeleton></td>
            <td><p-skeleton width="100%" height="50px" class="mt-3"></p-skeleton></td>
            <td><p-skeleton width="100%" height="50px" class="mt-3"></p-skeleton></td>
            <td><p-skeleton width="100%" height="50px" class="mt-3"></p-skeleton></td>
          </tr>
          <tr *ngIf="!skeleton">
            <td><p-skeleton width="100%" height="50px" class="mt-3"></p-skeleton></td>
            <td><p-skeleton width="100%" height="50px" class="mt-3"></p-skeleton></td>
            <td><p-skeleton width="100%" height="50px" class="mt-3"></p-skeleton></td>
            <td><p-skeleton width="100%" height="50px" class="mt-3"></p-skeleton></td>
            <td><p-skeleton width="100%" height="50px" class="mt-3"></p-skeleton></td>
          </tr>
          <tr *ngIf="!skeleton">
            <td><p-skeleton width="100%" height="50px" class="mt-3"></p-skeleton></td>
            <td><p-skeleton width="100%" height="50px" class="mt-3"></p-skeleton></td>
            <td><p-skeleton width="100%" height="50px" class="mt-3"></p-skeleton></td>
            <td><p-skeleton width="100%" height="50px" class="mt-3"></p-skeleton></td>
            <td><p-skeleton width="100%" height="50px" class="mt-3"></p-skeleton></td>
          </tr>
          <tr *ngIf="!skeleton">
            <td colspan="6">There are no order for this product yet.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-confirmDialog header="Valider" key="valider" icon="pi pi-exclamation-triangle"
  message="Etes-vous sûr de valider ce rendez-vous ?" [style]="{width: '350px'}" acceptButtonStyleClass="p-button-text"
  rejectButtonStyleClass="p-button-text"></p-confirmDialog>

<p-dialog header="Refuser" [(visible)]="visible" [modal]="true" showEffect="fade" [style]="{width: '30vw'}"
  [breakpoints]="{'960px': '75vw'}">
  <div class="p-fluid">
    <h5>Raison</h5>
    <textarea [(ngModel)]="raisonRefuValue" rows="5" cols="30" placeholder="Your Message" pinputtextarea=""
      class="p-inputtextarea p-inputtext p-component p-element"></textarea>
  </div>
  <ng-template pTemplate="footer">
    <button pButton icon="pi pi-check" (click)="visible=false" label="No" class="p-button-outlined"></button>
    <button pButton icon="pi pi-check" (click)="confirme()" label="Yes" class="p-button-outlined"></button>
  </ng-template>
</p-dialog>