<div class="grid p-fluid">
  <div class="col-12 md:col-12">
    <div class="card">
      <h5>Nom Service*</h5>
      <input type="text" pInputText placeholder="Default">

      <h5>Description</h5>
      <textarea rows="5" cols="30" placeholder="Your Message" pInputTextarea></textarea>

      <h5>Categorie</h5>
      <p-autoComplete [(ngModel)]="selectedCountryAdvanced" [suggestions]="categories"
        (completeMethod)="filterCountry($event)" field="name" [dropdown]="true">
      </p-autoComplete>

      <h5>Prix*</h5>
      <p-inputNumber mode="decimal" [showButtons]="true" [min]="0">
      </p-inputNumber>

      <h5>Dure en minute*</h5>
      <p-inputNumber mode="decimal" [showButtons]="true" [min]="0">
      </p-inputNumber>

      <h5>Commission en %*</h5>
      <p-inputNumber mode="decimal" [showButtons]="true" [min]="0">
      </p-inputNumber>

      <button style="width: 100%;" pbutton="" pripple="" label="Submit" icon="pi pi-bookmark"
        class="p-element p-ripple p-button p-button-success p-component mt-4">
        <span class="p-button-label">Valider</span>
      </button>
    </div>
  </div>

  <div class="col-12">
    <div class="card">
      <h5>Liste Service avec categorie</h5>
      <p-toast></p-toast>
      <p-table [value]="categories" dataKey="name" [expandedRowKeys]="expandedRows" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem"></th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th>Image</th>
            <th pSortableColumn="price">Description <p-sortIcon field="price"></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-categorie let-expanded="expanded">
          <tr>
            <td>
              <button type="button" pButton pRipple [pRowToggler]="categorie"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td style="min-width: 12rem;">{{categorie.name}}</td>
            <td><img src="{{environments.url_image}}categorie/{{ categorie.image[0].name }}" [alt]="categorie.name"
                width="100" class="shadow-4" /></td>
            <td style="min-width: 8rem;">{{categorie.description}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-categorie>
          <tr>
            <td colspan="7">
              <div class="p-3">
                <p-table [value]="categorie.service" dataKey="_id" responsiveLayout="scroll">
                  <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="Nom">Nom <p-sortIcon field="Nom"></p-sortIcon></th>
            <th pSortableColumn="Dure">Dure <p-sortIcon field="Dure"></p-sortIcon></th>
            <th pSortableColumn="Prix">Prix <p-sortIcon field="Prix"></p-sortIcon></th>
            <th pSortableColumn="Commision">Commision <p-sortIcon field="Commision"></p-sortIcon></th>
            <th style="width: 4rem"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-service>
          <tr>
            <td>{{service.name}}</td>
            <td>{{service.prix}}</td>
            <td>{{service.amount | currency:'USD'}}</td>
            <td>{{service.commision}}</td>
            <td><p-button type="button" icon="pi pi-search"></p-button></td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">There are no order for this product yet.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    </td>
    </tr>
    </ng-template>
    </p-table>
  </div>
</div>