<div class="grid p-fluid">

  <div class="col-12">
    <div class="card">
      <h5>Liste Service avec categorie</h5>
      <p-toast></p-toast>
      <p-table [value]="categories" dataKey="name" [expandedRowKeys]="expandedRows" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem"></th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th>Image</th>
            <th pSortableColumn="price">Description <p-sortIcon field="price"></p-sortIcon></th>
            <th style="width: 4rem"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-categorie let-expanded="expanded">
          <tr>
            <td>
              <button type="button" pButton pRipple [pRowToggler]="categorie"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td style="min-width: 12rem;">{{categorie.name}}</td>
            <td><img src="{{environments.url_image}}categorie/{{ categorie.image[0].name }}" [alt]="categorie.name"
                width="100" class="shadow-4" /></td>
            <td style="min-width: 8rem;">{{categorie.description}}</td>
            <td style="min-width: 8rem;"><p-button (click)="showAjoutServicePopup(categorie._id)" type="button"
                icon="pi pi-plus"></p-button></td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-categorie>
          <tr>
            <td colspan="7">
              <div class="p-3">
                <p-table [value]="categorie.service" dataKey="_id" responsiveLayout="scroll">
                  <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="Nom">Nom <p-sortIcon field="Nom"></p-sortIcon></th>
            <th pSortableColumn="Dure">Dure <p-sortIcon field="Dure"></p-sortIcon></th>
            <th pSortableColumn="Prix">Prix <p-sortIcon field="Prix"></p-sortIcon></th>
            <th pSortableColumn="Commision">Commision <p-sortIcon field="Commision"></p-sortIcon></th>
            <th style="width: 4rem">Offre speciale</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-service>
          <tr>
            <td>{{service.name}}</td>
            <td>{{service.dure}}</td>
            <td>{{service.prix | currency:'MGA':'symbol-narrow':'1.0'}}</td>
            <td>{{service.commision}}</td>
            <td><p-button icon="pi pi-plus" [rounded]="true" [text]="true" severity="success "
                (click)="addOffreSpecial(service._id)"></p-button></td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">There are no order for this product yet.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    </td>
    </tr>
    </ng-template>
    </p-table>
    <div class="border-round border-1 surface-border p-4" *ngIf="skeleton">
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="ajoutServiceDialog" header="Ajout Service" [modal]="true" [style]="{width:'90%'}">
  <ng-template pTemplate="content">
    <div class="col-12 md:col-12">
      <h5>Nom Service*</h5>
      <input type="text" pInputText placeholder="Default" [(ngModel)]="service.name">

      <h5>Description</h5>
      <textarea [(ngModel)]="service.description" rows="5" cols="30" placeholder="Your Message"
        pInputTextarea></textarea>

      <h5>Prix*</h5>
      <p-inputNumber [(ngModel)]="service.prix" mode="decimal" [showButtons]="true" [min]="0">
      </p-inputNumber>

      <h5>Dure en minute*</h5>
      <p-inputNumber [(ngModel)]="service.dure" mode="decimal" [showButtons]="true" [min]="0">
      </p-inputNumber>

      <h5>Commission en %*</h5>
      <p-inputNumber [(ngModel)]="service.commision" mode="decimal" [showButtons]="true" [min]="0" [max]="100">
      </p-inputNumber>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
      (click)="deleteProductsDialog = false"></button>
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="ajoutService()"></button>
  </ng-template>
</p-dialog>

<p-dialog header="Ajoouter Offre Speciale" [(visible)]="offreSpecial" [modal]="true"
  [style]="{ width: '50vw', height: '70vw', }" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="content">
    <div class="col-12 md:col-12">
      <h5>Date debut*</h5>
      <p-calendar [showIcon]="true" inputId="icon" [showTime]="true" [(ngModel)]="offreSpecialeModel.dateDebut">
        <ng-template pTemplate="date" let-date>
          <span
            [ngStyle]="{textDecoration: (date.day < 21 && date.day > 10) ? 'line-through' : 'inherit'}">{{date.day}}</span>
        </ng-template>
      </p-calendar>

      <h5>Date fin*</h5>
      <p-calendar [showIcon]="true" inputId="icon" [showTime]="true" [(ngModel)]="offreSpecialeModel.dateFin">
        <ng-template pTemplate="date" let-date>
          <span
            [ngStyle]="{textDecoration: (date.day < 21 && date.day > 10) ? 'line-through' : 'inherit'}">{{date.day}}</span>
        </ng-template>
      </p-calendar>

      <h5>Pourcentage en %*</h5>
      <p-inputNumber mode="decimal" [showButtons]="true" [min]="0" [max]="100"
        [(ngModel)]="offreSpecialeModel.pourcentage">
      </p-inputNumber>

      <h5>Titre</h5>
      <span class="p-float-label">
        <input [(ngModel)]="offreSpecialeModel.titre" id="float-input" type="text" pInputText>
        <label for="float-input">Titre</label>
      </span>

      <h5>Description</h5>
      <textarea [(ngModel)]="offreSpecialeModel.description" rows="5" cols="30" placeholder="Description"
        pInputTextarea></textarea>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="offreSpecial = false"></button>
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
      (click)="envoyerOffreSpeciale()"></button>
  </ng-template>
</p-dialog>