<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="Nouveaut" icon="pi pi-user-plus" class="p-button-success mr-2"
              (click)="openNew()"></button>
            <button pButton pRipple label="Débaucher" icon="pi pi-user-minus" class="p-button-danger"
              (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
          </div>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="personnels" [columns]="cols" responsiveLayout="scroll" [rows]="10"
        [globalFilterFields]="['username','adresse','phone','email','_id']" [paginator]="true"
        [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts"
        selectionMode="multiple" [rowHover]="true" dataKey="_id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Liste employe</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                class="w-full sm:w-auto" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name">Nom <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="adresse">Adresse <p-sortIcon field="adresse"></p-sortIcon></th>
            <th pSortableColumn="Telephone">Telephone <p-sortIcon field="Telephone"></p-sortIcon></th>
            <th pSortableColumn="Email">Email <p-sortIcon field="Email"></p-sortIcon></th>
            <th pSortableColumn="Service">Service <p-sortIcon field="Service"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-personnel>
          <tr>
            <td>
              <p-tableCheckbox [value]="personnel"></p-tableCheckbox>
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Name</span>
              {{personnel.username}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Adresse</span>
              {{personnel.adresse}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Telephone</span>
              {{personnel.phone}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Email</span>
              {{personnel.email}}
            </td>
            <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Reviews</span>
              <p *ngFor="let emplois of personnel.emplois"> {{ emplois.Categorie.name }}</p>
            </td>
            <td>
              <div class="flex">
                <button pButton pRipple icon="pi pi-user-edit" class="p-button-rounded p-button-success mr-2"
                  (click)="editEmploye(personnel._id)"></button>
                <button pButton pRipple icon="pi pi-user-minus" class="p-button-rounded p-button-warning"
                  (click)="debaucherDialogue(personnel._id,personnel.username)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="productDialog" [style]="{width: '80%'}" header="Ajouter un horaire de travail" [modal]="true"
      class="p-fluid">
      <ng-template pTemplate="content">
        <div class="field">
          <label for="name">Date debut</label>
          <p-calendar [showIcon]="true" inputId="icon" [showTime]="true">
            <ng-template pTemplate="date" let-date>
              <span
                [ngStyle]="{textDecoration: (date.day < 21 && date.day > 10) ? 'line-through' : 'inherit'}">{{date.day}}</span>
            </ng-template>
          </p-calendar>
          <!-- <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus
            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.name}" />
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name">Name is required.</small> -->
        </div>
        <div class="field">
          <label for="name">Date Fin</label>
          <p-calendar [showIcon]="true" inputId="icon" [showTime]="true">
            <ng-template pTemplate="date" let-date>
              <span
                [ngStyle]="{textDecoration: (date.day < 21 && date.day > 10) ? 'line-through' : 'inherit'}">{{date.day}}</span>
            </ng-template>
          </p-calendar>
        </div>

        <button style="width: 100%;" pbutton="" pripple="" label="Submit" icon="pi pi-bookmark"
          class="p-element p-ripple p-button p-button-success p-component mt-4">
          <span class="p-button-label">Valider</span>
        </button>

        <app-horaire-travail [idEmploye]="idEmploye" (onEdit)="editEmploye($event)"></app-horaire-travail>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="hideDialog()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Vous ete sure de debaucher <b>{{nameDebaucher}}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
          (click)="deleteProductDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="debaucher()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Vous ete sure de les debaucher?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
          (click)="deleteProductsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="debaucher()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="newPersonnelDialog" [style]="{width: '80%'}" header="Ajouter employe" [modal]="true"
      class="p-fluid">
      <ng-template pTemplate="content">
        <div class="grid p-fluid">
          <div class="col-0 md:col-2"></div>
          <div class="col-12 md:col-8">
            <span class="p-float-label my-6">
              <input [(ngModel)]="employeModel.username" type="text" pInputText>
              <label for="float-input">Nom</label>
            </span>

            <span class="p-float-label my-6">
              <input [(ngModel)]="employeModel.password" type="text" pInputText>
              <label for="float-input">Mots de passe</label>
            </span>

            <span class="p-float-label my-6">
              <input [(ngModel)]="employeModel.pays" type="text" pInputText>
              <label for="float-input">Pays</label>
            </span>

            <span class="p-float-label my-6">
              <input [(ngModel)]="employeModel.adresse" type="text" pInputText>
              <label for="float-input">Adresse</label>
            </span>

            <span class="p-float-label my-6">
              <input [(ngModel)]="employeModel.email" type="text" pInputText>
              <label for="float-input">Email</label>
            </span>

            <span class="p-float-label my-6">
              <input [(ngModel)]="employeModel.phone" type="text" pInputText>
              <label for="float-input">Phone</label>
            </span>

            <h5>Emplois</h5>
            <p-multiSelect [options]="categories.categories" [(ngModel)]="emplois" placeholder="Select a Country"
              optionLabel="name" class="multiselect-custom" display="chip">
              <ng-template let-categorie pTemplate="item">
                <div class="flex align-items-center">
                  <img src="{{environments.url_image}}categorie/{{ categorie.image[0].name }}"
                    [class]="'flag flag-' + categorie._id.toLowerCase()" style="width:21px" />
                  <span class="ml-2">{{categorie.name}}</span>
                </div>
              </ng-template>
            </p-multiSelect>

            <span class="p-float-label my-6">
              <p-inputNumber [(ngModel)]="salaire" mode="decimal" [showButtons]="true" [min]="0"></p-inputNumber>
              <label for="float-input">Salaire</label>
            </span>

          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveEmplye()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>