<div class="grid">
  <div class="col-12 md:col-12">
    <div class="card">
      <h5>Tache</h5>
      <p-pickList [source]="tacheIncomplet" [target]="tacheComplet" sourceHeader="Non effectuer"
        targetHeader="Tache effectuer" [dragdrop]="true" [responsive]="true" [sourceStyle]="{'height':'400px'}"
        [targetStyle]="{'height':'400px'}">
        <ng-template let-tache pTemplate="listItem">
          <div class="border-round m-2 text-center p-2" style="border: 1px solid var(--surface-d)">
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
              <div class="flex align-items-center">
                <i class="pi pi-clock mr-2"></i>
                <span class="font-semibold">{{tache.dure}} min</span>
              </div>
              <!-- <span class="product-badge status-instock">INSTOCK</span> -->
            </div>
            <div class="my-5">
              <img src="{{environments.url_image}}service/{{tache.image}}" alt="Bamboo Watch" class="shadow-4"
                width="15%" />
            </div>
            <div>
              <div class="text-2xl font-bold">{{tache.name}}</div>
              <span class="text-2xl font-semibold">{{tache.prix | currency:'MGA':'symbol-narrow':'1.0'}}</span>
            </div>
          </div>
        </ng-template>
      </p-pickList>
      <button *ngIf="tacheComplet.length>0" (click)="terminerTache()" style="width: 100%;" pbutton="" pripple=""
        label="Submit" icon="pi pi-bookmark" class="p-element p-ripple p-button p-button-success p-component mt-4">
        <span class="p-button-label">Valider les taches effectués</span>
      </button>
    </div>
  </div>
</div>

<div class="grid">
  <div class="col-12 md:col-6">
    <div class="card">
      <h5>Tache effectuer</h5>
      <p-table [value]="tacheEffectuer" [paginator]="true" [rows]="5" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>Image</th>
            <th pSortableColumn="name">Nom <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="price">Prix <p-sortIcon field="price"></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tacheEFT>
          <tr>
            <td style="width: 15%; min-width: 5rem;">
              <img src="{{environments.url_image}}service/{{tacheEFT.image}}" class="shadow-4" alt="{{tacheEFT.name}}"
                width="50">
            </td>
            <td style="width: 35%; min-width: 7rem;">{{tacheEFT.name}}</td>
            <td style="width: 35%; min-width: 8rem;">{{tacheEFT.prix | currency:'MGA':'symbol-narrow':'1.0'}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="col-12 md:col-6">
    <div class="card">
      <div class="flex align-items-center justify-content-between mb-4">
        <h5>Notifications</h5>
      </div>
      <div *ngFor="let item of commission">
        <span class="block text-600 font-medium mb-3">{{ item.date | date:'EEEE dd MMMM yyyy' }}</span>
        <ul class="p-0 mx-0 mt-0 mb-4 list-none">
          <li class="flex align-items-center py-2 border-bottom-1 surface-border">
            <div
              class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
              <i class="pi pi-dollar text-xl text-blue-500"></i>
            </div>
            <span class="text-900 line-height-3">Le total de votre service effectuer est <span class="text-blue-500">{{
                item.totalServiceEffectuer | currency:'MGA':'symbol-narrow':'1.0' }} Ar</span> alors le montant de
              commission pour la journée
              est <span class="text-blue-500">{{
                item.totalMontantCommission | currency:'MGA':'symbol-narrow':'1.0'}}</span> (<span
                class="text-blue-500">%{{
                item.totalMontantCommissionPourcentage }}</span>)
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>